String:

In [71]:
"""Strings are immutable sequence data type, i.e each time one makes any changes
to a string, completely new string object is created"""
a_str = 'Hello World'
print(a_str) #output will be whole string. Hello World
print(a_str[0]) #output will be first character. H
print(a_str[0:5]) #output will be first five characters. Hello

Hello World
H
Hello

Set:

In [73]:
# 1: set: mutable
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket) # duplicates will be removed

a = set('abracadabra')
print(a) # unique letters in a

a.add('z')
print(a)

{'pear', 'apple', 'banana', 'orange'}
{'b', 'd', 'c', 'r', 'a'}
{'b', 'd', 'c', 'r', 'z', 'a'}

In [77]:
# 2: Frozen set: immutable
b = frozenset('asdfagsa')
print(b)
b.add('z') # error because immutable

frozenset({'f', 's', 'g', 'd', 'a'})

AttributeError: 'frozenset' object has no attribute 'add'

Number:

In [82]:
int_num = 10 #int value
float_num = 10.2 #float value
complex_num = 3.14j #complex value

List:

In [83]:
list = [123,'abcd',10.2,'d'] #can be an array of any data type or single data type.
list1 = ['hello','world']
print(list) #will output whole list. [123,'abcd',10.2,'d']
print(list[0:2]) #will output first two element of list. [123,'abcd']
print(list1 * 2) #will gave list1 two times. ['hello','world','hello','world']
print(list + list1) #will gave concatenation of both the lists.
[123,'abcd',10.2,'d','hello','world']

[123, 'abcd', 10.2, 'd']
[123, 'abcd']
['hello', 'world', 'hello', 'world']
[123, 'abcd', 10.2, 'd', 'hello', 'world']

[123, 'abcd', 10.2, 'd', 'hello', 'world']

Dictionary:

In [1]:
dic={'name':'red','age':10}
print(dic) #will output all the key-value pairs. {'name':'red','age':10}
print(dic['name']) #will output only value with 'name' key. 'red'
print(dic.values()) #will output list of values in dic. ['red',10]
print(dic.keys()) #will output list of keys. ['name','age']

{'name': 'red', 'age': 10}
red
dict_values(['red', 10])
dict_keys(['name', 'age'])

Tuple:

In [88]:
tuple1 = (123, 'hello')
tuple2 = ('world',)
print(tuple1) #will output whole tuple. (123,'hello')
print(tuple1[0]) #will output first value. (123)
print(tuple1 + tuple2) #will output (123,'hello','world')
# tuple1[1]='update' #this will give you error.

(123, 'hello')
123
(123, 'hello', 'world')